@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: sans-serif;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fafbfc;
    font-family: Inter,sans-serif;
    color: #1b1f23;
    font-size: 1rem;
    line-height: 1.625rem;

    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 14px;
    background-color: var(--colorFondoScroll);
    border: 1px solid var(--colorBorderScroll);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--colorBg);
    border: 3px solid var(--colorFondoScroll);
    border-radius: 12px;
}

ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

a {
    background-color: transparent;
    -webkit-transition: color .4s;
    transition: color .4s;
    color: #6a737d;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #1b1f23;
}

button {
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1120px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
	max-width: 100%;
	height: 100%;
}

/* LOADING */
.loader_bg {
    position: fixed;
    z-index: 9999;
    background-color: #1c1d25;
    width: 100%;
    height: 100%;
    animation: loader 6s;
    animation-timing-function: ease;
}

.loader {
    position: fixed;
    z-index: 9999;
    background-color: #34354a;
    width: 0%;
    height: 100%;
    animation: loader-otro 2s;
    animation-timing-function: ease;
}

@keyframes loader-otro {
    0% {
        width: 0%;
    }

    20% {
        width: 105%;
    }
}

.loader2{
    position: fixed;
    z-index: 999;
    background-color: #282935b8;
    width: 0%;
    height: 100%;
    animation: loaderr 2s;
    animation-timing-function: ease;
}

@keyframes loaderr {
    0% {
        width: 0%;
    }

    40% {
        width: 105%;
    }
}

/*flexbox*/
.fx {
	display: flex;
}

.fx-ai-c {
	align-items: center;
}

.fx-jc-sb {
	justify-content: space-between;
}

.fx-jc-c {
    justify-content: center;
}

.fx-fd-c {
	flex-direction: column;
}

/*width*/
.w340 {
    width: 340px;
}

.newsletter_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.newsletter_wrapper img {
    width: 100px;
}

/*subtitulo*/
.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 1;
}

.section-title h2 {
    display: inline-block;
    font-size: 35px;
    color: var(--colorBlackAzul);
    padding-bottom: 13px;
    position: relative;
    cursor: default;
}

.section-title h2:before {
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 30%;
    background-color: var(--colorBlackAzul);
    border-radius: 12px;
    bottom: 0px;
}

.qualities_list {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    grid-row-gap: 30px;
    justify-content: space-around;
}

.bx_list {
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    cursor: default;
    text-align: center;
    position: relative;
    border-radius: 18px;
    border: 1px solid #e1e4e8;
    background: #fff;
    transition: all .3s ease;
}

.qualities_icon {
    height: 64px;
    width: 64px;
    border-radius: 15px;
    border: 1px solid #e1e4e8;
    background-color: rgb(75 78 252 / 2.8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.qualities_icon i {
    font-size: 35px;
    color: rgb(75 78 252 / 100%);
    transition: all .3s ease;
}

.url-social-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    color: rgb(75 78 252 / 70%);
    border-radius: 8px;
    border: 1px solid #e1e4e8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.url-social-icon:hover {
    color: rgb(75 78 252 / 100%);
    background-color: rgb(75 78 252 / 2.8%);
}

.text-color-red {
    font-size: var(--fontSize16);
    color: var(--colorRed);
}

.text-color-tertiary {
    background-color: transparent;
    color: #6a737d;
}

.mr-b8 {
    margin-bottom: 8px;
}

.mr-b1r {
    margin-bottom: 1rem;
}

/*gaps*/
.gp64 {
    gap: 64px;
}

.gp28 {
    gap: 28px;
}

.gp18 {
    gap: 18px;
}

.text-center {
    text-align: center;
}

.w-layout-grid {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
}

.shop_item-wrapper {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e1e4e8;
}

.shop_item-wrapper .item-card_image {
    object-fit: cover;
    height: 226px;
    min-height: 226px;
    border-radius: 10px 10px 0 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Satoshi, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    letter-spacing: -.24px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Satoshi,sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 900;
    letter-spacing: -.64px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Satoshi,sans-serif;
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: -.2px;
}

.dc {
	display: contents;
}

.img-student{
	width: 409px;
	border-radius: 30px;
    box-shadow: 0 4px 6px -4px rgb(0 0 0 / 10%), 0 10px 15px -3px rgb(27 31 35 / 10%);
	z-index: 1;
}

.wfc {
	width: fit-content;
}

.t100vh {
    top: 100vh;
    transition: top .5s ease;
}

/*-- modal --*/
.modal_cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.modal_cont_animate {
    opacity: 1;
    visibility: visible;
}

.page-category {
    overflow: hidden;
}

.modal_cont_animate .modal_anhost {
    opacity: 1;
    visibility: visible;
}

.modal_cont_animate .modal-container {
    padding: 40px;
}

.modal_cont_animate .modal-container .t100vh {
    top: 0;
}

.modal_anhost {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    inset: 0px;
    /*-webkit-backdrop-filter: blur(25px) opacity(1);
    backdrop-filter: blur(25px) opacity(1);*/
    background-color: rgb(34, 34, 34, .7);
    transition: all .5s ease;
}

.modal-container {
    display: flex;
    padding: 40px;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    position: absolute;
    max-height: 100vh;
    inset: 0px;
    transition: all .5s ease;
}

.modal_content_anhost {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    max-height: -webkit-fill-available;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 999;
}

.text-style-string {
    color: #1b1f23;
    font-size: 16px;
    font-weight: 700;
}

.text-style-allcaps {
    color: #1b1f23;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer_link {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

.footer_link-block {
    display: flex;
    margin-top: 0.75rem;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
}

.footer_trailing-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5px;
    padding-top: 1rem;
    border-top: 1px solid #e1e4e8;
}

.text_clamp1 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp3 {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_clamp9 {
    -webkit-line-clamp: 9;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

._wheg71v {
    max-width: 780px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

._pa35zs {
    position: absolute;
    display: flex;
    top: 24px;
    left: 24px;
    z-index: 1;
}

._1lplc7 {
    -webkit-box-flex: 0;
    flex: 0 0 72px;
    position: sticky;
    text-align: left;
    top: 0px;
    z-index: -1;
}

.close_modal {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    color: rgb(34, 34, 34);
    cursor: pointer;
    touch-action: manipulation;
    background: transparent;
}

.close_modal:hover {
    color: rgb(0, 0, 0);
}

.close_modal::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background .3s ease;
}

.close_modal:hover::before {
    background: rgb(247, 247, 247);
}

.modal_block_c {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.content_hidden-anhost {
    overflow: auto;
    width: 100%;
    height: 100%;
}

/*paddings*/
.pd024 {
    padding: 0 24px;
}

.pd24 {
    padding: 24px;
}

.pd-b3r {
    padding-bottom: 3rem;
}

/*margins*/
.margin-medium {
    margin: 2rem 0;
}

.mr-ta {
    margin-top: auto;
}

.mr-t32 {
    margin-top: 23px;
}

.margin-custom1 {
    margin-bottom: 0.75rem;
}

.margin-custom2 {
    margin-bottom: 1.5rem;
}

.item-card_content {
    position: relative;
    z-index: 2;
    padding: 1.5rem 1.25rem;
    border-top: 1px solid #e1e4e8;
    background-color: #fff;
    height: 100%;
}

.text_red {
    color: var(--colorRed);
}

.text-size-small {
    color: #6a737d;
    font-size: .8751rem;
    line-height: 1.5rem;
}

.text-size-small-weight {
    color: #6a737d;
    font-size: .8751rem;
    line-height: 1.5rem;
    font-weight: 500;
}

/*botones, btns*/
.btnrgbmorad {
    display: inline-block;
    padding: 9px 34px 10px;
    border-radius: 100px;
    background-color: #fdfefe;
    color: #4b4efc;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
}

.btn-red {
    color: var(--colorWhite);
    background-color: var(--colorRed);
    font-weight: var(--fontWeightMedium);
    padding: .625rem 2rem;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    font-size: var(--fontSize14);
    line-height: 1.5rem;
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.btn-red:hover {
    box-shadow: 0px 3px 20px rgba(236, 26, 34, .6);
    color: var(--colorWhite);
}

.button-bx-list {
    padding: .625rem 2rem;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 10%);
    color: #fafbfc;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    transition: all .3s ease;
}

.button-secondary {
    padding: 0.5rem 1rem;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(27 31 35 / 5%);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    color: #444d56;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.button-secondary:hover {
    border-color: #d1d5da;
    background-color: #fafbfc;
    color: #1b1f23;
}

.wp100 {
    width: 100%;
}

.mh302 {
    min-height: 302px;
}

/*textos*/
._txtec16 {
	font-size: var(--fontSize16);
	line-height: 27px;
	font-weight: var(--fontWeightSemiBold);
	color: var(--colorBlackGris);
}

.text-size-large {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--colorDesGris);
    font-weight: var(--fontWeightNormal);
}

.heading-display {
    font-family: Satoshi, sans-serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: var(--fontWeightHeavy);
    letter-spacing: -1.44px;
}

h1 {
    margin: 0;
    font-family: Satoshi, sans-serif;
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: var(--fontWeightHeavy);
    letter-spacing: -.8px;
}

/* otros */
.mxw475 {
	max-width: 475px;
	width: 100%;
}

.mxw530 {
    max-width: 530px;
    width: 100%;
}

.psbsvgtop {
	position: absolute;
	top: -58px;
	right: -36px;
}

.psbsvgbottom {
	position: absolute;
	bottom: -80px;
	left: -120px;
}

.pr {
	position: relative;
}

.nav_link {
    cursor: pointer;
    font-size: var(--fontSize16);
    -webkit-font-smoothing: antialiased;
    color: var(--colorGrisOpaco);
    display: block;
    font-weight: var(--fontWeightBold);
    position: relative;

    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.nav_link:hover {
    color: var(--colorBlack);
}

.nav_link::before {
    content: '';
    height: 2px;
    background-color: var(--colorGrisOpaco);
    border-radius: 12px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .5s ease;
}

.nav_link.active {
    color: var(--colorBlack);
}

.nav_link.active::before {
    width: 64%;
    right: 0;
}

.logo {
    display: block;
    width: 41.8px;
    margin-right: 8px;
}

._ttlo {
	font-size: 21px;
    color: var(--colorBlack);
    font-family: 'Days One', sans-serif;
    font-weight: var(--fontWeightNormal);
}




@media only screen and (max-width:  1060px) {
    .margin-medium {
        margin: 2rem auto;
    }

    .mxw475 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .qualities_list {
        gap: 13px;
        grid-row-gap: 23px;
    }
}

@media only screen and (max-width: 990px) {
    .gp64 {
        gap: 48px;
    }
}

@media only screen and (max-width: 900px) {
	.bx_list {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .heading-display {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: -.96px;
    }

    .text-size-large {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .modal-container {
        padding: 0;
    }

    /*modals*/
    .modal_cont_animate .modal-container {
        padding: 0;
    }

    .modal-container {
        align-items: inherit;
    }

    ._wheg71v {
        border-radius: 0;
    }

    ._1lplc7 {
        flex: 0 0 63px;
    }

    .w340 {
        width: auto;
    }

    .lineasestra, .blogs {
        padding: 50px 24px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 767px) {
    .modal_anhost {
        background-color: rgb(34, 34, 34, .7);
    }

    ._pa35zs {
        top: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .bx_list {
        flex: 400px;
        max-width: 400px;
    }
}






